  /* SCROLL BAR */
  /* Global */
  body::-webkit-scrollbar {
    background-color: #000000;
    width: 5px;
  }
  /* Fond */
  body::-webkit-scrollbar-track {
    position: relative;
  }
  /* Ascenseur */
  body::-webkit-scrollbar-thumb {
    border-radius: 15%;
    background: rgba(245, 176, 47);
  }
  /* Bouton */
  body::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 1.2%;
    width: 16px;
  }

/* //////////////////////////////////////////////////////////////// */

/* Cursor */
html{
    cursor: url(./asset/icons8-blue-pointer-24.png)0 0, pointer; 
}
/* //////////////////////////////////////////////////////////////// */

*::before::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#news{
    cursor: url(./asset/icons8-blue-pointer-24.png)0 0, pointer;
    scrollbar-color: rgba(245, 176, 47) rgb(0, 0, 0);
    border: 2px rgba(245, 176, 47, 0.742) solid;
    overflow: auto;
    background-image: url(./asset/bkbody1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: 0% 20% 0% 0%;
}
#container{
    width: 75%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: stretch;
}
.logo{
    width: 20vw;
    padding: 4% 0% 0% 0%;
    opacity: 0.7;
}
header{
    margin: 5% 0% 0.2% 0% ;
    padding: 2% 0%;
    background: rgba(22, 22, 22, 0.8);
}
.navheader{
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.aheader:hover::before{
    transform: scale(1);
}
.aheader::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:rgba(245, 176, 47, 0.742);
    transform: scale(0);
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.aheader{
    position: relative;
    background-image: linear-gradient(to top, rgba(245, 176, 47, 0.742),rgb(255, 227, 101));
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    cursor: url(./asset/icons8-blue-pointer-24.png)4 12, auto;
    font-size: 1.1rem;
}
main{
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    background: rgba(22, 22, 22, 0.8);
}
section{
    display: flex;
    flex-direction: column;
}
.h1main{
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 1.6rem;
}
.h2main{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1rem;
}
.h3main{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 1.1rem;
     margin: 5% 0% 0% 0%; 
     text-align: left;
}
.news{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.imgmain{
    width: 50%
}
.pmain{
    /* text-align: center; */
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 2% 0%;
    width: 50%;
}
footer{
    margin: 2% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgfooter{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgfooter{
    width: 5vw;
    margin: 0% 1%;
}
.pfooter{
    text-align: center;
    margin: 2% 10%;
    font-family: 'Roboto', sans-serif;
    color: rgba(245, 176, 47, 0.742);
    font-size: 0.7rem;
}
.navfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#afooter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}
.afooter{
    cursor: url(./asset/icons8-blue-pointer-24.png)4 12, auto;
    font-family: 'Roboto', sans-serif;
    color: rgba(245, 176, 47, 0.742);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 2% 1% 0% 1%;
}
i{
    
    width: 5%;
    font-size: 2rem;
}

iframe{
    width: 40%;    
}


/* TOURNAMENT TABLE GRID */
#tournamenttable {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    display: grid;
    align-self: stretch;
    align-items: stretch;
    justify-items: center;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(25, 1fr);
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 1000px; */
    grid-gap: 10px;
    grid-auto-flow: row;
    }
.ltournament{
    width: 1vw;
}

.tier { grid-area: 1 / 1 / 26 / 2; }
.tournament { grid-area: 1 / 2 / 26 / 8; 
grid-row-end: 16;}
.date { grid-area: 1 / 8 / 26 / 10; }
.prize { grid-area: 1 / 10 / 26 / 11; }
.place { grid-area: 1 / 11 / 26 / 12; }
.location { grid-area: 1 / 12 / 26 / 16; }




/* MEDIA QUERY TABLETTE VERTICALE & EN DESSOUS */


@media screen and (max-width: 768px){
    
.aheader{
    font-size: 0.5rem;
}
.h1main{
    font-size: 0.6rem;
}
.h2main{
    font-size: 0.5rem;
}
.h3main{
    font-size: 0.5rem;
}

.pmain{
    font-size: 0.4rem;
    
}

.afooter{
    
    font-size: 0.5rem;
}
#tournamenttable {
    font-size: 0.4rem;
    }
}
iframe{
    height: 20vh;
    width: 40vw;
}
.pfooter{
    font-size: 0.4rem;
}

/* MEDIA QUERY POUR MOBILE */
@media screen and (max-width: 376px){
    #tournamenttable {
        font-size: 0.2rem;
        }
}
